@import 'variables';
@import 'fonts';

@import url('https://fonts.googleapis.com/css?family=Muli:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext,vietnamese');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', sans-serif;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.untouchable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.pointer {
  cursor: pointer;
}

* {
  scrollbar-color: $accent-color #00000000;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    display: block;
    width: 13px;
    max-height: 80%;
    right: 10px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
    border-radius: 6px;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 20px;
    border: 3px solid $white;
    background-color: $accent-color;
  }

  &::-webkit-scrollbar-track-piece:end {
    background: transparent;
    margin-bottom: 10px;
  }

  &::-webkit-scrollbar-track-piece:start {
    background: transparent;
    margin-top: 10px;
  }
}